@using Koo.Web.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "用户中心";
}
<div class="container">

    <div class="example">
        <h2>@ViewBag.Title。</h2><hr />
        <div class="tab-control" data-role="tab-control">
            <ul class="tabs">
                <li class="active"><a href="#_page_1">密码修改</a></li>
                <li><a href="#_page_3">基本资料</a></li>
            </ul>

            <div class="frames">
                <div class="frame" id="_page_1">
                    <div class="row">
                        <p class="text-success">@ViewBag.StatusMessage</p>
                        <div class="col-md-12">
                            @if (ViewBag.HasLocalPassword)
                            {
                                @Html.Partial("_ChangePasswordPartial")
                            }
                            else
                            {
                                @Html.Partial("_SetPasswordPartial")
                            }

                            <section id="externalLogins">
                                @Html.Action("RemoveAccountList")
                                @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
                            </section>
                        </div>
                    </div>
                </div>
                @*<div class="frame" id="_page_2">
                <div class="input-control textarea">
                    <textarea>...</textarea>
                </div>
                <div class="place-right">请 <a href="#">登录</a> 后评论</div>
                <hr />
            </div>*@
                <div class="frame" id="_page_3">...</div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
